
# Firebase Admin key
serviceAccountKey.json
/storage/emulated/0/Download/tradehustleresumebuilder-firebase-adminsdk-fbsvc-0167555505.json
node_modules

# Environment files
.env.local
.env

# ignore function env
api-functions/.env
functions/.env
.firebase/logs/
.firebase/logs/vsce-debug.log
